.loader {
    color: var(--theme-color);
    fill: none;
    position: fixed;
    inset: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    background-color: var(--background-color);

    svg {
        height: 10rem !important;
        width: 10rem !important;
    }
}
